<!doctype html>
<html>
  <head>
    <title>Delete User - <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Delete User</h1>
    <form method="POST" action="/deleteduser">
      <p>Enter username of user you want to delete</p>
        <p>Username: <input id="username" type="text" name="username" value="username" /></p>
        <input type="submit" value="delete" />
    </form>
    <p><a href="./">Back to home</a></p>
  </body>
</html>