<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h2>Here are the results</h2>
    <table>
      <tr>
        <th>Book</th>
        <th>Price</th>
      </tr>
      <% availableBooks.forEach(function(book) { %>
        <tr>
          <td><%= book.name %></td>
          <td><%= book.price %></td>
        </tr>
      <% }) %>
    </table>
    <p><a href="./">Back to home</a></p>
    </body>
</html>
