<!doctype html>
<html>
  <head>
    <title>Search Weather</title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Search Weather</h1>
    <form action="/get-weather" method="GET">
      <p>Enter a City name</p>
      <input id="search-box" type="text" name="keyword" value="Default">
      <input type="submit" value="Search" >
    </form>
    <p><a href="./">Back to home</a></p>
  </body>
</html>